 <form class = "container" id ="container" method="POST" action="/store">
    <h1> ADD ACCOUNT</h1>

    <div class="info-container">
        <div class="info-form">
            <div class="info">
                <label for="username">Username</label> <br/>
                <input class="text" type="text" placeholder="Username" name="username" required> <br/>
                <label for="name">Full Name<label> <br/>
                <input class="text" type="text" placeholder="Full Name" name="name"> <br/>
                <label for="dob">D.O.B<label> <br/>
                <input class="text" type="text" placeholder="Date of birth" name="dob"> </br>
                <label for="gender">Gender</label> <br/>
                <input class="text" type="text" placeholder="Gender" name="gender"> </br>
                <label for="class">Class</label> <br/>
                <input class="text" type="text" placeholder="Class" name="class"> </br>
                <label for="role">Role</label> <br/>
                <input class="role" type="text" placeholder="Role" name="role" required> </br>
                <label for="password">Paswword</label> <br/>
                <input class="password" type="text" placeholder="Password" name="password" required> </br>
            </div>
            
        </div>
        
    </div>
    <div class="btn-add"> 
        <button id= "btn-add">Add</button>
    </div>
</div>
