 <form class = "container" name="add-form"id ="container" method="POST" action="/admin/store">
    <h1> ADD ACCOUNT</h1>

    <div class="create-container">
        <div class="create-form">
            <div class="info">
                <span>Username</span> 
                <input class="text" type="text" placeholder="Username" name="username" required> 
                <span>Full Name<span> 
                <input class="text" type="text" placeholder="Full Name" name="name"> 
                <span>D.O.B<br> 
                <input class="text" type="date" placeholder="Date of birth" name="dob"> 
                <span>Gender</span> 
                <input class="text" type="text" placeholder="Gender" name="gender"> 
                <span>Class</span> 
                <input class="text" type="text" placeholder="Class" name="class"> 
                <span>Role</span> <br>
                <select class ="text" name="role">
                    <option value="student">Student</option>
                    <option value="teacher">Teacher</option>
                    <option value="officer">Officer</option>
                    <option value="admin">Admin</option>
                </select> <br>
                <span>Password</span> 
                <input class="text" type="password" placeholder="Password" name="password" required> 
            </div>
            {{!-- <img class = "avatar-img" id="avatar-img" src="image/avatar.png"> --}}
        </div>
        
    </div>
    <div class="btn-add"> 
        <button id= "btn-add" data-toggle="modal" data-target="#add-modal">Add</button>
    </div>
</div>

