<nav>
    <ul class="navbar">
        <li class= "nav-items"><a href="/">Home</a></li>
        <li class= "nav-items"><a href="/">Officer</a>
            <ul class="subnav">
                <li><a href="/update_info"> Update Info Accounts</a></li>
                <li><a href="/create_account"> Add Account</a></li>
                <li><a href="/report"> View Reports</a></li>
            </ul>

        </li>
        <li class= "nav-items"><a href="/">Report</a></li>
    </ul>
</nav>
