<nav>
    <ul class="navbar">
        <li class= "nav-items"><a href="/:admin">Home</a></li>
        <li class= "nav-items"><a href="/:admin">Admin</a>
            <ul class="subnav">
                <li><a href="/:admin/create_account"> Create Account</a></li>
                <li><a href="/:admin/update_info"> Update Info Accounts</a></li>
                <li><a href="/:admin/set_rule"> Set Rules</a></li>
            </ul>
        </li>
        <li class= "nav-items"><a href="/">Notifications</a></li>
    </ul>
</nav>