<nav>
    <ul class="navbar">
        <li class= "nav-items"><a href="/:officer">Home</a></li>
        <li class= "nav-items"><a href="/:officer">Officer</a>
            <ul class="subnav">
                <li><a href="/:officer/create_account"> Add Account</a></li>
                <li><a href="/:officer/update_info"> Update Accounts</a></li>
                <li><a href="/:officer/report"> View Reports</a></li>
            </ul>

        </li>
        <li class= "nav-items"><a href="/:officer">Report</a></li>
    </ul>
</nav>
