<div class = "container" id ="container">
    <h1> INFORMATION</h1>

    <div class="info-container">
        <h2 class="officer-text"> ROLE </h2>

        <div class="info-form">
            <div class="info">
                <span>ID</span>
                <p class="text" id="name">xxxxxxx</p> </br>
                <span>Name</span>
                <p class="text" id="name">Nguyen Van A</p> </br>
                <span>D.O.B</span>
                <p class="text" id="dob">DD/MM/YYYY</p> </br>
                <span>Gender</span>
                <p class="text" id="gender">Gender</p> </br>
                <span>Class</span>
                <p class="text" id="Class">xx</p> </br>
            </div>
        </div>
    </div>
</div>