<div class = "container" id ="container">
    <h1> INFORMATION</h1>

    <div class="info-container">
        <h2 class="role-text"> ROLE </h2>

        <div class="info-form">
            <div class="info">
                <span>Username</span>
                <p class="text" id="uname">xxxxxxx</p> </br>
                <span>Full Name</span>
                <p class="text" id="fname">Nguyen Van A</p> </br>
                <span>D.O.B</span>
                <p class="text" id="dob">DD/MM/YYYY</p> </br>
                <span>Gender</span>
                <p class="text" id="gender">Gender</p> </br>
                <span>Class</span>
                <p class="text" id="class">xx</p> </br>
            </div>
            
            <img class = "avatar-img" id="avatar-img" src="image/avatar.png">
        </div>
    </div>
</div>