<div class = "login-form">
        <h1> STUDENT MANAGEMENT</h1>
        <form class= "container" method="post">
        {{!-- <form class= "container" action="/action_page.php" method="post"> --}}
            <div class="login-container">
                <input class="ID" type="text" placeholder="USER ID" name="username" required>
                <input class="password" type="password" placeholder="PASSWORD" name="password" required>

                <button class= "btn-login" type="submit">LOGIN</button>
            </div>
        </form>
</div>