 <div class = "container" id ="container">
    <h1> ADD ACCOUNT</h1>

    <div class="info-container">
        <div class="info-form">
            <div class="info">
                <span>Name</span> </br>
                <input class="username" type="text" placeholder="Full Name" name="uname"> <br/>
                <span>D.O.B</span> </br>
                <input class="dob" type="text" placeholder="Date of birth" name="dob"> </br>
                <span>Gender</span> </br>
                <input class="gender" type="text" placeholder="Gender" name="gender"> </br>
                <span>Class</span> </br>
                <input class="class" type="text" placeholder="Class" name="class"> </br>
                <span>Role</span> </br>
                <input class="role" type="text" placeholder="Role" name="role" required> </br>
                <span>Password</span> </br>
                <input class="password" type="text" placeholder="Password" name="pwd" required> </br>
            </div>
            
        </div>
        
    </div>
    <div class="btn-add"> 
        <button id= "btn-add">Add</button>
    </div>
</div>
