 <form class = "container" id ="container" method="POST" action="/store">
    <h1> ADD ACCOUNT</h1>

    <div class="create-container">
        <div class="create-form">
            <div class="info">
                <span>Username</span> <br/>
                <input class="text" type="text" placeholder="Username" name="username" required> <br/>
                <span>Full Name<span> <br/>
                <input class="text" type="text" placeholder="Full Name" name="name"> <br/>
                <span>D.O.B<span> <br/>
                <input class="text" type="date" placeholder="Date of birth" name="dob"> </br>
                <span>Gender</span> <br/>
                <input class="text" type="text" placeholder="Gender" name="gender"> </br>
                <span>Class</span> <br/>
                <input class="text" type="text" placeholder="Class" name="class"> </br>
                <span>Role</span> <br/>
                <input class="text" type="text" placeholder="Role" name="role" required> </br>
                <span>Password</span> <br/>
                <input class="text" type="password" placeholder="Password" name="password" required> </br>
            </div>
            {{!-- <img class = "avatar-img" id="avatar-img" src="image/avatar.png"> --}}
        </div>
        
    </div>
    
    <div class="btn-add"> 
        <button id= "btn-add">Add</button>
    </div>
</div>
