<div class = "container" id ="container">
    <h1> INFORMATION</h1>

    <div class="info-container">
        <h2 class="officer-text"> Officer </h2>

        <div class="info-form">
            <div class="info">
                <span>Name</span>
                <p class="text" id="name">Nguyen Van A</p> </br>
                <span>D.O.B</span>
                <p class="text" id="D.O.B">DD/MM/YYYY</p> </br>
                <span>Grade</span>
                <p class="text" id="Grade">xx</p> </br>
                <span>Telephone</span>
                <p class="text" id="Tele">+123456789</p> </br>
            </div>
            
            <img class = "avatar-img" id="avatar-img" src="./../assets/img/avatar.png", alt="Day la anh">
        </div>
    </div>
</div>